__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
../.pytest_cache
.hypothesis

backend/src/module/tests
backend/src/module/conf/const_dev.py
config/bangumi.json/config/bangumi.json
/docs
/.github
/.config
/.data
/.cache
/LICENSE
/README.md
/setup.py
dist.zip
data
config
/backend/src/config
/backend/src/data
.pytest_cache
test
.env
test.py
/backend/src/test