__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

module/tests
module/conf/const_dev.py
config/bangumi.json/config/bangumi.json
/docs
/.github
/.config
/.data
/.cache
/LICENSE
/README.md
/setup.py