anyio
bs4
certifi
charset-normalizer
click
fastapi
h11
idna
pydantic == 1.10
PySocks
qbittorrent-api
requests
six
sniffio
soupsieve
typing_extensions
urllib3
uvicorn
attrdict
jinja2
python-dotenv
python-jose
passlib
bcrypt
python-multipart
