anyio
beautifulsoup4
lxml
certifi
charset-normalizer
click
fastapi
h11
idna
pydantic==1.9.1
PySocks
qbittorrent-api
requests
six==1.16.0
sniffio==1.2.0
soupsieve
typing_extensions==4.3.0
urllib3
uvicorn
attrdict
jinja2
