anyio==3.6.1
beautifulsoup4==4.11.1
lxml
certifi==2022.6.15
charset-normalizer
click==8.1.3
fastapi
h11==0.13.0
idna==3.3
pydantic==1.9.1
PySocks==1.7.1
qbittorrent-api==2022.5.32
requests
six==1.16.0
sniffio==1.2.0
soupsieve
typing_extensions==4.3.0
urllib3
uvicorn
attrdict
jinja2
