-r requirements.txt
ruff
black
pre-commit

# testing
pytest          # testing framework
pytest-httpx    # httpx mock testing
pytest-asyncio  # asyncio testing
pytest-cov      # testing coverage
pytest-mock     # mock wrapper for pytest