beautifulsoup4==4.12.3
bencode.py==4.0.0
exceptions==0.1.0
fastapi==0.115.2
httpx==0.27.2
passlib==1.7.4
pydantic==2.9.2
python-dotenv==1.0.1
python_jose==3.3.0
semver==3.0.1
SQLAlchemy==2.0.36
sqlmodel==0.0.22
sse_starlette==1.6.5
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.32.0
