@mixin bg-mouse-event($normal, $hover, $active) {
  background: $normal;
  transition: background 0.3s;

  &:hover {
    background: $hover;
  }

  &:active {
    transition: none;
    background: $active;
  }
}
