anyio
beautifulsoup4
lxml
certifi
charset-normalizer
click
fastapi
h11
idna
pydantic
PySocks
qbittorrent-api
requests
six
sniffio
soupsieve
typing_extensions
urllib3
uvicorn
attrdict
jinja2
thefuzz
aria2p[tui]
