name: Deploy To Dockerhub(dev)

on:
  workflow_dispatch:
    branches: [ 2.6.0-dev ]

jobs:
  latest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Create Version info
        working-directory: ./src
        run: |
          echo "VERSION = '2.6.0-beta'" > module/__version__.py
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          working-directory: ./src
          push: true
          tags: estrellaxd/auto_bangumi:2.6.0-beta2
          file: Dockerfile
